# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr

# Local env files
.env
.env*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build output
*.local

# OS
Thumbs.db

# Testing
coverage
*.lcov
.nyc_output

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Yarn
.yarn-integrity

# dotenv environment variable files
.env.development.local
.env.test.local
.env.production.local
.env.local

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
